<footer class = "main_footer">
          <div >
            <p>Copyright: PoElektro 2020. Wszystkie prawa zastrzeżone.</p>
          </div>
          <nav class = "main_nav">
            <ul class = "footer-list">
                <li class = "footer-list-element">
                    <a href="#">Wsparcie</a>
                </li>
                <li class = "footer-list-element">
                     <a href="#">Warunki użytkowania</a>
                </li>
            </ul>
          </nav>
</footer>
