<main>
      <div class = "square">
        <div class = "element first"><i class="demo-icon icon-mail"></i><br><br><a [routerLink]="['/post']">POCZTA</a></div>
        <div class = "element first"><i class="demo-icon icon-newspaper"></i><br><br>WYDARZENIA</div>
        <div class = "element first"><i class="demo-icon icon-sun"></i><br><br>POGODA</div>
        <div style = "clear:both"></div>
        <div class = "element second"><i class="demo-icon icon-money"></i><br><br>BIZNES</div>
        <div class = "element second"><i class="demo-icon icon-cab"></i><br><br>MOTO</div>
        <div class = "element second"><i class="demo-icon icon-fast-food"></i><br><br>GOTOWANIE</div>
        <div style = "clear:both"></div>
        <div class = "element third"><i class="demo-icon icon-gamepad"></i><br><br>GAMES</div>
        <div class = "element third"><i class="demo-icon icon-chat"></i><br><br>WYWIADY</div>
        <div class = "element third"><i class="demo-icon icon-football"></i><br><br>SPORT</div>
        <div style = "clear:both"></div>
      </div>
</main>

